*{
    margin: 0px;
    border: 0px;
}
.div1{
    height:400px;
    width: 800px;
    position: relative;
    background-color: yellow;
    font-size: 20px;
    text-align: center;

}
h1{
    padding-top: 30px;
}
h3{
    padding-top: 30%;
}
.div2{
    height: 80px;
    width: 80px;
    background-color:rgb(110, 110, 4) ;
    border-radius: 50%;
    margin-left: 45%;
    margin-top: 20px;
}
.div3{
    height: 100px;
    width: 100%;
    background-color: crimson;
    position: absolute;
    bottom:0px;
}
.div4{
    height: 120px;
    width: 120px;
    background-color:yellow ;
    transform: rotate(45deg);
    position: absolute;
    left:350px;
    bottom: 80px;
}
